<ion-header color="secondary">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/splash-screen']">
                <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Bebidas
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only" name=""> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen color="secondary">

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_naranja.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">

                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/img/jugo_mora.png" alt="" style="width:99px; height:95; text-align: center">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-text>
                                <h3>$25.000</h3>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="botones">
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-remove">
                                <ion-icon name="remove"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <h1>1</h1>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-fab-button class="add-circle-button-add">
                                <ion-icon class="add-circle" name="add"> </ion-icon>
                            </ion-fab-button>
                        </ion-col>
                    </ion-row>

                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>