<ion-header>
    <ion-toolbar style="--ion-background-color:#B82828; color: white;">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/']">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title style="color: white; text-align: center;">
        <b>PLATOS FUERTES</b>
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>  
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div style="text-align: center;">
              <ion-img src="assets/img/plato_recomendado.png"></ion-img>
              <ion-title>PLATO RECOMENDADO</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid style="background-color:#FFF6F6;">
      <ion-row>
        <ion-col size="12">
          <ion-card style="border: 1px solid #EA1D21; border-radius: 10%; color: black;">
            <ion-card-content style="background-color:white;">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row style="border: 0px solid;">
                        <ion-col style="border: 0px solid red; width: 180px; height: 120px;">
                          <img src="assets/img/plato8.png" style="border: 1px solid; border-radius: 100%; width: 100%; height: 100%;">
                        </ion-col>
                      </ion-row>
                      <ion-row style="text-align: center;">
                        <ion-col size="4">
                          <ion-fab-button color="danger" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="remove"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                        <ion-col size="4" style="margin-top: 2%;">
                          <ion-text><h1><b>0</b></h1></ion-text>
                        </ion-col>
                        <ion-col size="4">
                          <ion-fab-button color="success" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="add"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>            
                  </ion-col>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%;"><b>Bandeja Paisa</b></ion-title></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><p style="text-align: justify; font-size: 100%;">Lorem ipsum dolor sit, amet consectetur adipisicing elit </p></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%; text-align: right;"><b>$25.000</b></ion-title></ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-card style="border: 1px solid #EA1D21; border-radius: 10%; color: black;">
            <ion-card-content style="background-color:white;">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row style="border: 0px solid;">
                        <ion-col style="border: 0px solid red; width: 180px; height: 120px;">
                          <img src="assets/img/plato8.png" style="border: 1px solid; border-radius: 100%; width: 100%; height: 100%;">
                        </ion-col>
                      </ion-row>
                      <ion-row style="text-align: center;">
                        <ion-col size="4">
                          <ion-fab-button color="danger" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="remove"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                        <ion-col size="4" style="margin-top: 2%;">
                          <ion-text><h1><b>0</b></h1></ion-text>
                        </ion-col>
                        <ion-col size="4">
                          <ion-fab-button color="success" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="add"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>            
                  </ion-col>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%;"><b>Bandeja Paisa</b></ion-title></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit </p></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%; text-align: right;"><b>$25.000</b></ion-title></ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-card style="border: 1px solid #EA1D21; border-radius: 10%; color: black;">
            <ion-card-content style="background-color:white;">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row style="border: 0px solid;">
                        <ion-col style="border: 0px solid red; width: 180px; height: 120px;">
                          <img src="assets/img/plato8.png" style="border: 1px solid; border-radius: 100%; width: 100%; height: 100%;">
                        </ion-col>
                      </ion-row>
                      <ion-row style="text-align: center;">
                        <ion-col size="4">
                          <ion-fab-button color="danger" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="remove"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                        <ion-col size="4" style="margin-top: 2%;">
                          <ion-text><h1><b>0</b></h1></ion-text>
                        </ion-col>
                        <ion-col size="4">
                          <ion-fab-button color="success" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="add"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>            
                  </ion-col>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%;"><b>Bandeja Paisa</b></ion-title></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit </p></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%; text-align: right;"><b>$25.000</b></ion-title></ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-card style="border: 1px solid #EA1D21; border-radius: 10%; color: black;">
            <ion-card-content style="background-color:white;">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row style="border: 0px solid;">
                        <ion-col style="border: 0px solid red; width: 180px; height: 120px;">
                          <img src="assets/img/plato8.png" style="border: 1px solid; border-radius: 100%; width: 100%; height: 100%;">
                        </ion-col>
                      </ion-row>
                      <ion-row style="text-align: center;">
                        <ion-col size="4">
                          <ion-fab-button color="danger" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="remove"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                        <ion-col size="4" style="margin-top: 2%;">
                          <ion-text><h1><b>0</b></h1></ion-text>
                        </ion-col>
                        <ion-col size="4">
                          <ion-fab-button color="success" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                            <ion-icon name="add"></ion-icon>
                          </ion-fab-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>            
                  </ion-col>
                  <ion-col size="6">
                    <ion-grid style="border: 0px solid green;">
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%;"><b>Bandeja Paisa</b></ion-title></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit </p></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col><ion-title style="padding: 0%; font-size: 100%; text-align: right;"><b>$25.000</b></ion-title></ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div>
      <div class="priceFloating">
        <ion-grid>
          <ion-row>
            <ion-col size="6"><span>Subtotal:</span></ion-col>
            <ion-col size="6"><span>$75.000</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"><span>Impuestos:</span></ion-col>
            <ion-col size="6"><span>$17.000</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"><span><b>Total:</b></span></ion-col>
            <ion-col size="6"><span><b>$120.000</b></span></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>