.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .middle{
    width: 100%;
    height: 100%;
    
    display:flex;
    align-items: center;
  }
  
  .content_plato{
    -webkit-box-shadow: 6px -2px 14px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -2px 14px -7px rgba(0,0,0,0.75);
    box-shadow: 6px -2px 14px -7px rgba(0,0,0,0.75);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  /* 
  * ======================================================================
  * //////////// Estilos para contenedor de botones flotantes ////////////
  * ======================================================================
  */
  .priceFloating{
    width:170px;
    height:80px;
    background:#43B05C;
    right:0;
    bottom:0;
    position:fixed;
    margin-right:10px;
    margin-bottom:10px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:80%;
    z-index:3;
    padding-left: 10px;
  }
  
  .priceFloating:hover{
    background: #75ca89;
  }