<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="menu"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Mesas
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button disabled>
                <ion-icon slot="icon-only"> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen color="secondary">
    <ion-grid style="margin-top: 20px;">
        <ion-row>
            <ion-col size="6">
                <ion-button id="table-success" [routerLink]="['/home/tabs/tab1']">1</ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button id="table-warning" [routerLink]="['/home/tabs/tab1']">2</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button id="table-warning" [routerLink]="['/home/tabs/tab1']">3</ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button id="table-danger" [routerLink]="['/home/tabs/tab1']">4</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button id="table-success" [routerLink]="['/home/tabs/tab1']">5</ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button id="table-danger" [routerLink]="['/home/tabs/tab1']">6</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button id="table-danger" [routerLink]="['/home/tabs/tab1']">7</ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button id="table-success" [routerLink]="['/home/tabs/tab1']">8</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button id="table-danger" [routerLink]="['/home/tabs/tab1']">9</ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button id="table-warning" [routerLink]="['/home/tabs/tab1']">10</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>